{% extends 'main/base.html' %}
{% load static %}


{% block content %}
    {% include 'main/sliders/slider.html' %}
    <!----Add Section Start---->
    {#            <div class="ms_advr_wrapper background-main">#}
    {#                <div class="container">#}
    {#                    <div class="row">#}
    {#                        <div class="col-lg-12">#}
    {#                            <a href="#"><img src="{% static 'webapp/images/uncle_drew_.png' %}" alt="" class="img-fluid"/></a>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    <!---Weekly Top 15--->
    <div class="ms_weekly_wrapper">
        <div class="ms_weekly_inner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ms_heading">
                        <h1>✰ Балканская Звезда ✰ </h1>
                    </div>
                </div>
                {% for song in songs %}
                    <div class="col-lg-4 col-md-12 padding_right40">
                        <div class="ms_weekly_box">  <!-- Блок для каждой песни -->
                            <div class="weekly_left">
                                <span class="w_top_no">{{ forloop.counter }}</span>
                                <div class="w_top_song">
                                    <div class="w_tp_song_img">  <!-- Обертка для картинки и оверлея -->
                                        <img src="{{ song.photo_file.url }}" alt="{{ song.title }}"
                                             class="img-fluid fixed-image">
                                        <div class="ms_song_overlay"></div>  <!-- Оверлей (кружок) -->
                                        <div class="ms_play_icon" data-playlist-id="{{ forloop.counter0 }}">
                                            <img src="{% static 'webapp/images/svg/play.svg' %}" alt="Play">
                                        </div>
                                    </div>
                                    <div class="w_tp_song_name">
                                        <h3><a href="#">{{ song.title }}</a></h3>
                                        <p>{{ song.album.artist }}</p>  <!-- Замени, если нужно -->
                                    </div>
                                </div>
                            </div>
                            <div class="weekly_right">
                                <span class="w_song_time">5:10</span>
                                <span class="ms_more_icon" data-other="1">
                                  <img src="{% static 'webapp/images/svg/more.svg' %}" alt="More">
                                </span>
                            </div>
                            <ul class="more_option">
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>В
                                    избранное</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add
                                    To Queue</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Скачать</a>
                                </li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Добавить
                                    в плейлист</a></li>
                                <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Поделиться</a>
                                </li>
                            </ul>
                        </div>
                        <div class="ms_divider"></div>  <!-- Разделитель между песнями -->
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!---Featured Artists Music--->
    <div class="ms_featured_slider">
        <div class="ms_heading">
            <h1>🎥 Видео</h1>
            <span class="veiw_all"><a href="#">view more</a></span>
        </div>
        <div class="ms_feature_slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="ms_rcnt_box">
                        <div class="ms_rcnt_box_img">
                            <img src="{% static 'webapp/images/featured/song1.jpg' %}" alt="">
                            <div class="ms_main_overlay">
                                <div class="ms_box_overlay"></div>
                                <div class="ms_more_icon">
                                    <img src="{% static 'webapp/images/svg/more.svg' %}" alt="">
                                </div>
                                <ul class="more_option">
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add
                                        To Favourites</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add
                                        To Queue</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download
                                        Now</a></li>
                                    <li><a href="#"><span class="opt_icon"><span
                                            class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a>
                                    </li>
                                </ul>
                                <div class="ms_play_icon">
                                    <img src="{% static 'webapp/images/svg/play.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="ms_rcnt_box_text">
                            <h3><a href="#">Best Of Ava Cornish</a></h3>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ms_rcnt_box">
                        <div class="ms_rcnt_box_img">
                            <img src="{% static 'webapp/images/featured/song2.jpg' %}" alt="">
                            <div class="ms_main_overlay">
                                <div class="ms_box_overlay"></div>
                                <div class="ms_more_icon">
                                    <img src="{% static 'webapp/images/svg/more.svg' %}" alt="">
                                </div>
                                <ul class="more_option">
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add
                                        To Favourites</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add
                                        To Queue</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download
                                        Now</a></li>
                                    <li><a href="#"><span class="opt_icon"><span
                                            class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a>
                                    </li>
                                </ul>
                                <div class="ms_play_icon">
                                    <img src="{% static 'webapp/images/svg/play.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="ms_rcnt_box_text">
                            <h3><a href="#">Until I Met You</a></h3>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ms_rcnt_box">
                        <div class="ms_rcnt_box_img">
                            <img src="{% static 'webapp/images/featured/song3.jpg' %}" alt="">
                            <div class="ms_main_overlay">
                                <div class="ms_box_overlay"></div>
                                <div class="ms_more_icon">
                                    <img src="{% static 'webapp/images/svg/more.svg' %}" alt="">
                                </div>
                                <ul class="more_option">
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add
                                        To Favourites</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add
                                        To Queue</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download
                                        Now</a></li>
                                    <li><a href="#"><span class="opt_icon"><span
                                            class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a>
                                    </li>
                                </ul>
                                <div class="ms_play_icon">
                                    <img src="{% static 'webapp/images/svg/play.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="ms_rcnt_box_text">
                            <h3><a href="#">Gimme Some Courage</a></h3>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ms_rcnt_box">
                        <div class="ms_rcnt_box_img">
                            <img src="{% static 'webapp/images/featured/song4.jpg' %}" alt="">
                            <div class="ms_main_overlay">
                                <div class="ms_box_overlay"></div>
                                <div class="ms_more_icon">
                                    <img src="{% static 'webapp/images/svg/more.svg' %}" alt="">
                                </div>
                                <ul class="more_option">
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add
                                        To Favourites</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add
                                        To Queue</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download
                                        Now</a></li>
                                    <li><a href="#"><span class="opt_icon"><span
                                            class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a>
                                    </li>
                                </ul>
                                <div class="ms_play_icon">
                                    <img src="{% static 'webapp/images/svg/play.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="ms_rcnt_box_text">
                            <h3><a href="#">Dark Alley Acoustic</a></h3>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ms_rcnt_box">
                        <div class="ms_rcnt_box_img">
                            <img src="{% static 'webapp/images/featured/song5.jpg' %}" alt="">
                            <div class="ms_main_overlay">
                                <div class="ms_box_overlay"></div>
                                <div class="ms_more_icon">
                                    <img src="{% static 'webapp/images/svg/more.svg' %}" alt="">
                                </div>
                                <ul class="more_option">
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add
                                        To Favourites</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add
                                        To Queue</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download
                                        Now</a></li>
                                    <li><a href="#"><span class="opt_icon"><span
                                            class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a>
                                    </li>
                                </ul>
                                <div class="ms_play_icon">
                                    <img src="{% static 'webapp/images/svg/play.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="ms_rcnt_box_text">
                            <h3><a href="#">Walking Promises</a></h3>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ms_rcnt_box">
                        <div class="ms_rcnt_box_img">
                            <img src="{% static 'webapp/images/featured/song6.jpg' %}" alt="">
                            <div class="ms_main_overlay">
                                <div class="ms_box_overlay"></div>
                                <div class="ms_more_icon">
                                    <img src="{% static 'webapp/images/svg/more.svg' %}" alt="">
                                </div>
                                <ul class="more_option">
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add
                                        To Favourites</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add
                                        To Queue</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download
                                        Now</a></li>
                                    <li><a href="#"><span class="opt_icon"><span
                                            class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a>
                                    </li>
                                </ul>
                                <div class="ms_play_icon">
                                    <img src="{% static 'webapp/images/svg/play.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="ms_rcnt_box_text">
                            <h3><a href="#">Desired Games</a></h3>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ms_rcnt_box">
                        <div class="ms_rcnt_box_img">
                            <img src="{% static 'webapp/images/featured/song1.jpg' %}" alt="">
                            <div class="ms_main_overlay">
                                <div class="ms_box_overlay"></div>
                                <div class="ms_more_icon">
                                    <img src="{% static 'webapp/images/svg/more.svg' %}" alt="">
                                </div>
                                <ul class="more_option">
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add
                                        To Favourites</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add
                                        To Queue</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download
                                        Now</a></li>
                                    <li><a href="#"><span class="opt_icon"><span
                                            class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a>
                                    </li>
                                </ul>
                                <div class="ms_play_icon">
                                    <img src="{% static 'webapp/images/svg/play.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="ms_rcnt_box_text">
                            <h3><a href="#">Dream Your Moments (Duet)</a></h3>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ms_rcnt_box">
                        <div class="ms_rcnt_box_img">
                            <img src="{% static 'webapp/images/featured/song2.jpg' %}" alt="">
                            <div class="ms_main_overlay">
                                <div class="ms_box_overlay"></div>
                                <div class="ms_more_icon">
                                    <img src="{% static 'webapp/images/svg/more.svg' %}" alt="">
                                </div>
                                <ul class="more_option">
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add
                                        To Favourites</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add
                                        To Queue</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download
                                        Now</a></li>
                                    <li><a href="#"><span class="opt_icon"><span
                                            class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a>
                                    </li>
                                </ul>
                                <div class="ms_play_icon">
                                    <img src="{% static 'webapp/images/svg/play.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="ms_rcnt_box_text">
                            <h3><a href="#">Until I Met You</a></h3>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ms_rcnt_box">
                        <div class="ms_rcnt_box_img">
                            <img src="{% static 'webapp/images/featured/song3.jpg' %}" alt="">
                            <div class="ms_main_overlay">
                                <div class="ms_box_overlay"></div>
                                <div class="ms_more_icon">
                                    <img src="{% static 'webapp/images/svg/more.svg' %}" alt="">
                                </div>
                                <ul class="more_option">
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add
                                        To Favourites</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add
                                        To Queue</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download
                                        Now</a></li>
                                    <li><a href="#"><span class="opt_icon"><span
                                            class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a>
                                    </li>
                                </ul>
                                <div class="ms_play_icon">
                                    <img src="{% static 'webapp/images/svg/play.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="ms_rcnt_box_text">
                            <h3><a href="#">Gimme Some Courage</a></h3>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="ms_rcnt_box">
                        <div class="ms_rcnt_box_img">
                            <img src="{% static 'webapp/images/featured/song4.jpg' %}" alt="">
                            <div class="ms_main_overlay">
                                <div class="ms_box_overlay"></div>
                                <div class="ms_more_icon">
                                    <img src="{% static 'webapp/images/svg/more.svg' %}" alt="">
                                </div>
                                <ul class="more_option">
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add
                                        To Favourites</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add
                                        To Queue</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download
                                        Now</a></li>
                                    <li><a href="#"><span class="opt_icon"><span
                                            class="icon icon_playlst"></span></span>Add To Playlist</a></li>
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a>
                                    </li>
                                </ul>
                                <div class="ms_play_icon">
                                    <img src="{% static 'webapp/images/svg/play.svg' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="ms_rcnt_box_text">
                            <h3><a href="#">Dark Alley Acoustic</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next1 slider_nav_next"></div>
        <div class="swiper-button-prev1 slider_nav_prev"></div>
    </div>


    <div class="ms_genres_wrapper">
        Galactic coordinates of the Solar System Sun's center:
        Galactic longitude (l): 0° (direction from the Sun to the galactic center).
        Galactic latitude (b): 0° (the Sun lies nearly in the galactic plane).
    </div>


    </div>
    <!----Main div close---->
{% endblock %}